@model IEnumerable<NguyenDucHuy_Lab456.Models.Course>
@{
    ViewBag.Title = "Trang Chủ";
}
<div class="row">
    <ul>
        @foreach ( var course in Model)
        {
            <li>
                @course.Datetime - @course.Lecturer.Name
            </li>
        }
    </ul>
</div>
